[2017-10-05 09:31] zouhir opened #3 "Compile using webpack-dev-server when there is --dev flag"
The NodeJS service should run via webpack-dev-server only when `--dev` flag exist in CLI arguments.

At the moment it always run the compiler with that option because it's not configured to make a --prod bundles yet.

[2017-10-05 09:49] zouhir opened #4 "Pass devServer configuration"
We need to pass any devServer Configs from the user to the webpackDevServer constructor function in the 2nd argument.

[2017-10-05 09:52] zouhir opened #5 "Compile Production ready bundle"
When you see --prd flag create & emit prod bundle.

[2017-10-05 11:09] zouhir opened #6 "allow clients to set performance budget."
When they user asks us to set performance budget:

1- we should notify the NodeJS though either POST http request or through the io socket.

2- create default performance budget object with default values.

3- object assign it to Configs.

4- rerun the compiler

❔ question mark: should we write the configs for performance budget on the user's filesystem in their webpack configs or in jarvis.config

[2017-10-07 03:11] zouhir opened #7 "create terminal window logs for successful runs"

[2017-10-13 16:50] ForsakenHarmony opened #10 "Competition / inspiration"
Not sure which one it is :p

https://github.com/FormidableLabs/electron-webpack-dashboard

[2017-10-17 22:59] #7 closed, assigned to nobody

[2017-10-17 23:00] zouhir opened #12 "Send progress report to the client"

[2017-10-23 10:34] #5 closed, assigned to nobody

[2017-10-23 10:34] #3 closed, assigned to nobody

[2017-10-26 23:10] #12 closed, assigned to zouhir

[2017-10-26 23:11] #6 closed, assigned to nobody

[2017-10-28 05:29] #4 closed, assigned to nobody

[2017-10-31 07:09] lukeed opened #20 "Support Functional Config"
The `webpack.config.js` allows a functional definition to be used, receiving an `env`.

Right now, when passing a custom, functional `--config` to Jarvis, it will fail because `config` hasn't been instantiated yet.

[code]

[2017-10-31 07:24] lukeed opened #21 "The `env` value is non-object"
To match webpack parity, the `env` value in the [`compiler`](https://github.com/zouhir/jarvis/blob/master/src/server/webpack/compiler.js#L15) should be an object.

_Related: #20_

_Reference: [Webpack: Environment Variables](https://webpack.js.org/guides/environment-variables/)_

[2017-11-01 22:37] eliperelman opened #22 "All dashboard to be used from other projects"
For me, the big value proposition here is the dashboard itself. I maintain another webpack-based build tool called [Neutrino](https://neutrino.js.org/), and it would be super-handy to be able to utilize a top-notch dashboard during development without having to lose of all our build-chain for it.

Would you be willing to take a PR to support this? If so, could you point me in the right direction f

[2018-01-13 13:40] #21 closed

[2018-01-13 13:40] #20 closed

[2018-01-13 13:41] #10 closed

[2018-01-13 19:55] joaomilho opened #32 "Port should be configurable"
Port 1337 is a commonly used port (like Tunnelblick). One should be able to config it.

[2018-01-13 22:01] zouhir commented on #32
Totally, that's my number 1 priority!

[2018-01-14 05:38] zouhir commented on #22
It is a plug-in now and you should be able to use it!!!! 😻😻😻

[2018-01-14 05:38] #22 closed

[2018-01-14 11:09] eliperelman commented on #22
Yes, I can't wait to try this! I'll let you know how it goes in Neutrino.

[2018-01-14 12:00] gagan0723 opened #36 "This is beautiful"
Hej man listen. I'm amazed by its beauty :nail_care: . Love you :rose:.

Just wanted to know how you made that screenshot?

Thanks :pray: :clap: .

[2018-01-14 12:35] zouhir commented on #36
haha! you are most welcome!

Screenshot: Macbook > CMD + Shift + 4

Sketch App: Added Shadow around!

Thanks you for this nice issue, made my day

[2018-01-14 12:36] gagan0723 opened #37 "Add OSS NINJA"
Can we add [OSS NINJA](https://github.com/developit/oss.ninja) and get rid of the LICENCE file.

[2018-01-14 12:37] #36 closed

[2018-01-14 12:40] ForsakenHarmony commented on #37
Or just leave it as is

[2018-01-14 12:44] zouhir commented on #37
@ForsakenHarmony we need to promote Jason's new toy! why not?

@gagan0723 I think it's a good idea, Jason will be happy, let's wait and see why @ForsakenHarmony dont like it

[2018-01-14 12:47] ForsakenHarmony commented on #37
Ok, let's make Jason happy 🙈

[2018-01-14 21:21] zouhir commented on #37
Good one!🎈🎈🎈🎈😻😻😻😻

[2018-01-14 21:27] #37 closed

[2018-01-14 23:47] zouhir opened #40 "Add prettier - get formatting happen on pre-commit hook"
Prettier, husky and lint-staged would be a great addition to this repo to format the code when the user make a commit.

Ideally, everything inside `src` should be formatted.

Read more about:
- [Husky](https://www.npmjs.com/package/husky)
- [Lint staged](https://github.com/okonet/lint-staged)

[2018-01-14 23:56] zouhir opened #41 "CSS is all over the place"
The client side app need some organisation, CSS wise at first.

**current bad practice:**
We have styles split in components folders and shared style folder

**better practice:**
clean the shared style folder and keep only:
- shared mixins
- shared grid
- shared colour variables

- keep each component style next to it.

[2018-01-15 01:14] Sunshine168 commented on #40
in firstly, confirming the coding style for this repo , and then we can add eslint and eslint check or prettier-eslint to format the code in pre-commit

[2018-01-15 02:24] zouhir commented on #40
I think just vanilla prettier, prettier-eslint is not really important to me. default prettier settings would be great!

[2018-01-15 03:47] #40 closed

[2018-01-15 07:13] Kosai106 opened #47 "package.json author"
Just a very minor thing that I noticed - There's a few ways to do the author field in a package.json file, however Jarvis doesn't really utilise them all consistently.

The standard way, which obviously works.
[code]

Shorthand works too, but not quite as expected as it's all intepreted as a string.
[code]

And lastly the tedious way - It doesn't work at all.
[code]

Anyway, keep up the great work

[2018-01-15 08:41] emanuel1025 opened #49 "Jarvis does not compile without 'use strict'; in older node versions"
/Users/xxxx/do-app-server/node_modules/webpack-jarvis/bin/plugin/index.js:23
  let projectInfo = {
  ^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

A bunch of these show up and there is also an error thrown for initializing a default value for function parameters

/Users/xxxx/do-app-server/node_modules/webpack-jarvis/bin/plugin/repo

[2018-01-15 09:07] lukeed commented on #49
I may be wrong, but I think Node 6 is meant to be the minimum supported version on purpose. We should add that to the `engines` key if that's the case.

[2018-01-15 09:11] Lakston commented on #41
I might be able to look into that, another addition to consider later for css consistency would be to add a `.csscomb` config file to ensure that the proper attributes order is respected

[2018-01-15 09:23] zouhir commented on #41
ugh! I would love to see some good CSS organisation happening! even if not everything is finished now, some good structure for us to carry on with and follow would be awesome!!!!!!!!!!! 🙏

[2018-01-15 09:25] zouhir commented on #49
We actually have not tested this on pre-node 6!

Do we know how big is the user base still on Node 4.x and 5.x? :(

[2018-01-15 09:27] zouhir commented on #47
haha I will definetly add this field, to be honest, I was totally not expeting anyone would want to use my beta release! I'm stoked! thank you for the note <3

[2018-01-15 09:49] #32 closed

[2018-01-15 09:55] Sunshine168 commented on #49
reference https://nodesource.com/node-by-numbers ，but actually  i think  set Node 6 the minimum supported version  is good . Node develop very fast ,too hard to compatible

[2018-01-15 10:00] zouhir commented on #49
I think I will set the engine in package.json to support node 6 as a minimum!

That will help us build & ship faster too!

[2018-01-15 10:02] zouhir opened #50 "Support Node 6+"
We currently support Node6+ we need to set that in package.json engines option! [details](https://docs.npmjs.com/files/package.json#engines)

[2018-01-15 10:59] m4r1vs opened #51 "Feature: add section for linter output"
I think many people would love having the output of a linter such as `eslint` and/or `stylelint` in the dashboard. I know it is already implemented fairly good into text editors but I would still love this feature. I will try making a PR soon but if there are any other ideas that are related to this please let me know!

Maybe it doesn't have to be a linter only but rather having the option to spec

[2018-01-15 11:04] m4r1vs commented on #51
Probably having the output of the commands in seperate tabs of the section that displays webpack output would be the best idea since it already looks like a terminal output.

[2018-01-15 12:44] 15blex commented on #41
I would be glad to help with that too! @zouhir @Lakston
I've inspected the scss a bit alredy, can't understand the usage of a flexbox grid instead of a true grid with `display: grid`. That would bring the usage and needs of mixins near to 0 imho.
Another usefull thing could be `postcss` with `autoprefixer` and `cssnano` (i guess there's alredy a `csscomb` plugin too for postcss).

[2018-01-15 12:46] Sunshine168 commented on #51
i think set tabs of the section that displays is a good idea. Provider custom tabs name in option like
new Jarvis({
    customCommands: [
       {name:"eslint ...", cmd:"eslint src --fix",reservedOptions}
       { name:"test", cmd:"jest test",reservedOptions}
    ],
})
will be funny ?

[2018-01-15 12:58] Lakston commented on #41
I took a look too and tbh it wasn't a big mess, I though it would be all over the place but it looks pretty well organised already. I'll have to dig deeper but at the moment the only file that could be removed from the bundle that I've found was `backgrounds.scss` where only the `.bee` class is used and should be moved to it's component file so the backgrounds one can be deleted.

As for grids, a

[2018-01-15 13:18] 15blex commented on #41
I don't belive is a mess either, i noticed just some sparse colors wich can be put in variables.

On caniuse it says that the partial support for grids in IE is because it supports the old spec (autoprefixer should take care of it i guess), but I never had the chance to test it. Will try later if works as expected or not

My bad for autoprefixer, didn't saw it in the config 🤦‍♂️

I'll try to see i

[2018-01-15 13:39] #50 closed

[2018-01-15 14:00] Kosai106 commented on #47
Don't worry about it @zouhir, it's a cool project! My projects are of a very small scope, so I'll probably have limited use, but it's beautiful so I had to give it a try. 😉

Keep up the amazing work, buddy!

[2018-01-15 14:36] livingston opened #53 "Jarvis does not run if webpack's DefinePlugin is not used"
`jarvis` fails to start when used along with a `webpack` config that does not use the [`DefinePlugin`](https://webpack.js.org/plugins/define-plugin/).

This due to the [index.js#L59](https://github.com/zouhir/jarvis/blob/master/src/plugin/index.js#L59).

`definePlugin["definitions"]` is `undefined` when `DefinePlugin` is not used.

[2018-01-15 14:39] zouhir commented on #53
Oh!! This is a high priority One, will put a fix asap! Thank you for spotting it

[2018-01-15 15:08] jimblue commented on #53
Yep same pb here!

[2018-01-15 16:18] tsriram commented on #49
Webpack seems to [support](https://github.com/webpack/webpack/blob/70d23ca4135800863f87dab2e8aca0094e2a676c/package.json#L72) Node versions older than 6(at least as of now). Will setting Node 6 as minimum requirement for Jarvis make it unusable for webpack users who're still on older versions of Node?

Quite not sure if it matters and I know it's going to be really hard to keep up the compatibilit

[2018-01-15 16:27] ForsakenHarmony commented on #49
it's already unusable, because it will break, this way they get a warning ahead of time

[2018-01-15 18:07] m4r1vs commented on #51
@Sunshine168 oh yeah that's a good idea to have a specified name, I thought of maybe somehow getting it from the running command but I don't think it's possible

[2018-01-15 19:49] zcei opened #55 "Semantic README Headings"
Hej @zouhir,

when a colleague and me were shown this project, we liked it, but were a bit confused, why you decided to use images as the heading for each section.
It prevents accessibility, and you also can't share a link to an anchor tag, that GitHub usually auto-generates.

I see the value in using HTML due to the center formatting (afaik that's not possible otherwise) but would avoid it if not

[2018-01-15 19:51] lukeed commented on #55
Think you can also wrap the images in anchor tags, adding the would-be `id` and `href` values to each link.

[2018-01-15 19:54] zcei commented on #55
Just wanted to avoid putting even more HTML into the Markdown 😅
But might be a possible solution, yes. (And let's not forget to add the `alt` attribute then as well 🙂 )

[2018-01-15 19:54] lukeed commented on #55
Very true 😜

[2018-01-15 20:10] zouhir commented on #55
I'm already bored of the current headings cos they not very good on mobile! I'm happy to change them!

[2018-01-15 20:17] lukeed commented on #55
markdown headings ftw 😉

[2018-01-15 20:20] zouhir commented on #55
Yas!

[2018-01-15 21:28] monsonjeremy opened #56 "Overlapping text and icons in the Modules section"
There is some overlapping text and icons in the modules section for long paths. See the screenshot attached.

<img width="716" alt="screen shot 2018-01-15 at 13 26 39" src="https://user-images.githubusercontent.com/8846086/34962275-e97cd28c-f9f7-11e7-9cb7-2d3e08ea940d.png">

[2018-01-15 21:38] zouhir commented on #56
Thank you for reporting!!

That's a great first isse of pure CSS!

Tip:
The `3 dots`  can have margin-left:auto in flex parent and that will push them + the number to the end of the row.

[2018-01-15 21:49] zouhir commented on #51
Great idea!!! 😻😻😻 But actually we don't need to do that in options. Would you consider something like:

[code]

I think thatd be RAD!!!

[2018-01-15 22:01] m4r1vs commented on #51
Oh yeah totally forgot that we already have UI where we can do such things.
Maybe also add option 'save' which then saves the current open commands in
something like `/.jarvisrc`?

On Mon, Jan 15, 2018, 1:49 PM Zouhir ⚡️, <notifications@github.com> wrote:

[2018-01-15 22:02] monsonjeremy commented on #56
@zouhir that would work, however they're currently not in the same div container. I can go ahead and fix this issue and make a PR if you'd like?

[2018-01-15 22:04] m4r1vs commented on #51
Oh yeah totally forgot that we already have UI where we can do such things.
Maybe also add option `save` which then saves the current open commands in
something like `.jarvisrc`?

[2018-01-15 22:12] monsonjeremy commented on #5
Hi @zouhir could you add some documentation regarding running this for the production bundles? Currently with an ejected Create React App the dashboard does not work for the production build.

[2018-01-15 22:38] zouhir commented on #56
I'd love to get a PR! Do it your favourite way, I'm sure whatever will be better than what it is now 😻😻😻🦄🦄🦄

[2018-01-15 22:40] James-E-Adams commented on #53
A temporary fix at this point is to add `new webpack.DefinePlugin({})` to your plugins in the webpack config.

[2018-01-15 23:30] #55 closed

[2018-01-16 00:59] #53 closed

[2018-01-16 01:03] zouhir commented on #53
Released to npm!!!!!!! please install latest!

[2018-01-16 01:11] Sunshine168 commented on #51
oh yeah  , Supporting config  such as  saving or auto-run scripts  in ui is  useful

[2018-01-16 02:19] zouhir commented on #51
I'm excited for this y'all!

[2018-01-16 09:31] ugogo opened #60 "Set up instructions"
Hey guys,
I was trying to set up locally Jarvis, but I ran into two issues

There are two servers launched in parallel, is this wanted?
`localhost:3000` and `localhost:1337`
https://www.dropbox.com/s/5l7j90ttjhug4ao/Capture%20d%27%C3%A9cran%202018-01-16%2010.28.41.png?dl=0

The "dev" one seems to be on `:3000`, but it seems broken:
- Missing CSS file
- Lot of `NaN`
- No bundles listed

https://www

[2018-01-16 13:19] Sunshine168 commented on #60
oh  it seem jarvis break in it's dev mode .
because[#33 custom port support](https://github.com/m4r1vs/jarvis/blob/2fc7dd07219d30db848d2ad67ff494a404dee104/src/client/components/board.js#L13)

if you change ```document.location.port` to  1337 it will work . and we can discuss a better way to fix it

localhost:3000 is the dev server for develop jarvis as a developer
localhost:1337 is for you to use

[2018-01-16 15:40] phra opened #63 "use .toFixed(2) when showing percentage in terminal"
![screenshot from 2018-01-16 16-38-05](https://user-images.githubusercontent.com/984628/34997122-e3cdb998-fadb-11e7-9017-58ff680baf43.png)

[2018-01-16 15:45] phra opened #64 "manage undefined assets size when bundling"
![screenshot from 2018-01-16 16-38-07](https://user-images.githubusercontent.com/984628/34997367-a57ddf32-fadc-11e7-9974-dfe9fa568de4.png)

[2018-01-16 20:06] #63 closed

[2018-01-16 20:09] #64 closed

[2018-01-16 20:31] aarondack opened #66 "Scroll disappears in modules section"
First off this lib is absolutely stunning 😍, great work. I noticed in my modules section that the scroll breaks through towards the end. Attaching a gif for ya. Not a huge deal breaker - but figured it could be a good issue for someone.

![jarvis](https://user-images.githubusercontent.com/8890348/35010831-317db490-fad2-11e7-9cd6-eb9a8846eba2.gif)

[2018-01-16 22:47] zouhir commented on #66
Ohhhhhhh I can see! that is not good 🙊 I will look into that!

[2018-01-16 23:09] zouhir commented on #60
Investigating... please give me little time ⏳🙀

[2018-01-16 23:23] zouhir commented on #41
Hey!! @15blex and @Lakston super thanks to both of you.

I think CSS new Grid thing is awesome for 2 reasons:

1- our audience are web developers, so I would not expect big percentage running a browser that does not support CSS grid (CSS Grid is in latest 2 of all major desktop browsers on Can I Use)
2- It will allow us to change the responsiveness of items easily, and utilise every monitor's land

[2018-01-17 11:13] Itrulia opened #68 "Feature: Favicon that indicates if it's building/finished with error/finished with success"
This would be really nice because I don't have it as the active tab all the time :)

[2018-01-17 13:40] zouhir commented on #68
Dude! This is a genius idea 😂😂😂

Definitely a nice to have next release!

[2018-01-17 13:40] zouhir commented on #68
I changed my mind, this is MUST have next release, I'll do it asap.

[2018-01-17 13:42] #66 closed

[2018-01-17 13:43] zouhir commented on #56
Fixed by #67

[2018-01-17 13:43] #56 closed

[2018-01-17 14:38] 15blex commented on #41
Nice! I'll make a PR asap.

[2018-01-17 15:24] TimoSta opened #70 "Feature: Theming Support"
Don't get me wrong, I love the pink gradient, it's refreshing to not stare at a black console window for a change...

That being said, it would be awesome if the dashboard could be themed, e.g. to support corporate branding. This would make it a much easier sale towards mgmt for super serious customer projects. :-)

[2018-01-17 16:50] Itrulia commented on #68
Glad I could help :+1:

[2018-01-17 21:30] zouhir commented on #41
There's now an issue #70 and they've actually suggested adding themes, I think keeping that in mind while making the CSS refactoring is a good idea.

I'll break this into a bunch of smaller issues, so we can work workout stepping on each other toes!

[2018-01-17 23:13] 15blex commented on #41
Good point on #70!
Basically we need to define an object shape and a naming convention for the theme,
something like `theme-name{ primary-color, secondary-color, ... }`.

[2018-01-18 23:53] #47 closed

[2018-01-19 11:54] Teskin opened #75 "How to start the application"
Hi,

considering that I am a newbie on partecipating on these open source project, I am some noob question to start to have a look the code and having some testing of this application.

As I forked and cloned the app I run:
`npm install`

Which are the next steps in order to start the application locally as
`npm start`
is not working?

Thank you in advance and for the patience.

[2018-01-19 14:25] louisjacksonrees commented on #75
Hi @Teskin

To run this project use the command:

`npm run-script dev`

[2018-01-20 02:42] zouhir opened #76 "Rename CSS variables and put under theme folder"
variables Sass folder should have all the theme colour variations

config Sass file should map the theme variables to Jarvis specific variable names we use, I know sounds complicated but to explained further:

[code]

[code]

[2018-01-20 02:44] zouhir commented on #41
#76

[2018-01-20 03:35] zouhir opened #77 "Use css Grid rather than flexibox widgets"

[2018-01-20 03:36] zouhir commented on #41
Linking CSS grid issue #77

[2018-01-20 16:21] Pickra opened #79 "Any interest in adding a code of conduct/contributor guide?"
Here's a [starting point](https://www.contributor-covenant.org/version/1/4/code-of-conduct.md).

[2018-01-20 16:24] Pickra commented on #49
I think this issue is done.
[packageJson engines](https://github.com/zouhir/jarvis/blob/master/package.json#L18)

[2018-01-21 01:35] #68 closed

[2018-01-21 02:57] jpulley101 opened #81 "Make a Dark Theme"

[2018-01-21 16:58] Kosai106 commented on #81
It's already using a dark theme, no?

[2018-01-21 19:21] #49 closed

[2018-01-21 22:04] jpulley101 commented on #81
![capture](https://user-images.githubusercontent.com/2576928/35199521-16c02f58-fecd-11e7-921f-087bc2bb2fc2.JPG)

Something like this!!

[2018-01-21 22:05] jpulley101 commented on #81
![capture1](https://user-images.githubusercontent.com/2576928/35199534-45070850-fecd-11e7-976e-814ca888ff20.JPG)

I also tried full screen with no background.

[2018-01-21 22:23] zouhir commented on #81
There's a WIP where I will allow themes!!! https://github.com/zouhir/jarvis/pull/82

[2018-01-22 01:14] Sunshine168 commented on #79
Add contribute guide in readme  will be better?

[2018-01-22 03:56] Pickra commented on #79
Why not both?

[2018-01-22 04:58] Frexuz opened #86 "Can we use this with Babel?"
We just have a `.babelrc` file:

[code]

Would it be possible to setup Jarvis with this?

[2018-01-22 06:31] gauravmakkar opened #87 "How to use it with react-scripts?"
How to use it with react-scripts where you don't necessarily have the config file?

const Jarvis = require('webpack-jarvis');

/* the rest of your webpack configs */

plugins: [
    new Jarvis({
      port: 1337 // optional: set a port
    })
]

[2018-01-22 15:27] Teskin commented on #75
Unfortunately is not working yet as I receive this error as output from the console:

![issue](https://user-images.githubusercontent.com/20303536/35228296-a89cede4-ff90-11e7-87c2-dbae3f9fc0b9.png)

I installed cross-env hoping that it would help, but it didn't.

Any advice would be higlhly appreciated.

[2018-01-22 15:49] ugogo commented on #75
Should be related to https://github.com/zouhir/jarvis/issues/60

[2018-01-22 16:52] inoyakaigor opened #88 "Fix console output"
Output console style should be fixed.
If add css rule `white-space: pre` to `<span>` symbols `>^` will be at the right place but have too many empty space before
![screenshot 2018-01-22 07 40 17](https://user-images.githubusercontent.com/1235286/35232608-f39dd63e-ffac-11e7-905b-6bc251ae0880.png)

[2018-01-22 19:04] TimoSta commented on #86
This plugin provides a dashboard with status info of the current webpack build of your app. Note that is a webpack plugin, not a babel plugin.

Reading your description, it seems like you are not using webpack?

[2018-01-22 19:11] TimoSta commented on #87
Create-react-app, or their internal set of scripts provided by react-scripts currently does not support adding additional webpack plugins. Check out this issue for a reasoning why: https://github.com/facebook/create-react-app/issues/481.

If you want to use it, you will have to [eject](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-eject)

[2018-01-22 19:21] ilyas-shah commented on #88
i want to contribute on this project.

[2018-01-23 03:58] zouhir commented on #88
@inoyakaigor thank you for reporting and investigating this, I will add a fix asap and it will go soon, hopefully.

@ilyas-shah : please feel free to send us a PR with a change you love to see or a bug you fix!

[2018-01-23 04:00] zouhir commented on #87
I am not very experienced in CRA but @TimoSta sound correct.

CRA seem to not allow webpack plugins by default and you have to "eject" to add your own plugins.

[2018-01-23 04:00] zouhir commented on #79
That is a good idea, we *NEED* to have those asap :)

[2018-01-23 08:16] m4r1vs commented on #81
Closing this issue because #70 could also include a dark theme, feel free to add your ideas to that issue 😄

[2018-01-23 08:16] #81 closed

[2018-01-23 08:19] m4r1vs commented on #75
Hey @Teskin, did you maybe forgot to run `npm install` before, running `npm run dev`? Before you can use any third party packages you need to install them with that command 😄

[2018-01-23 08:22] m4r1vs commented on #88
Hey @inoyakaigor , we are currently working a big update for the console of Jarvis so thanks for reporting this. Expect this to be fixed with the console update which should be released in about a week or so 😄

[2018-01-23 08:27] m4r1vs commented on #86
@Frexuz, since Jarvis is a webpack plugin you need to use webpack to bundle your files, however you can use babel to transform them. [here](http://jamesknelson.com/using-es6-in-the-browser-with-babel-6-and-webpack/) is a small tutorial on how you can do so 😄, I will close this issue since @TimoSta's and this hopefully answered your question. If not, feel free to reopen it

[2018-01-23 08:27] #86 closed

[2018-01-23 15:14] Pickra commented on #79
Are you good w/the code of conduct starting point @zouhir or do you want something else?

Any specifics for the contributor guide @Sunshine168?

[2018-01-23 16:11] tgrundmanis opened #91 "Automatically fix JavaScript errors on pull requests"
I run Stickler-CI which is a service aimed at improving code quality by simplifying code review by automating code feedback in pull requests.

We just launched auto-fixing for JavaScript through pull request commits. As a JavaScript open source project, our service will save you time and brain power by automatically fixing style errors.

If you are interested in trying out our product, we can subm

[2018-01-24 01:37] Pickra commented on #79
## A few thoughts for contributing
### A couple things from Angular
- [found-a-bug](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-found-a-bug)
- [submitting-a-pull-request-pr](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-a-pull-request-pr): Search GitHub for an open or closed PR that relates to your submission. You don't want to duplicate effort.

##

[2018-01-24 05:40] Sunshine168 commented on #79
@Pickra
## Some thoughts for contributing
### Development
Visit the [issue tracker](https://github.com/zouhir/jarvis/issues) to find a list of open issues that need attention.
Fork, then clone the repo:
[code]
#### Building
Running the build task will create jarvis's client in bin folder
[code]
#### Developing
[code]
#### Tesing
(PS: After finishing the test suite )
[code]

In general, the contrib

[2018-01-24 13:16] Pickra commented on #79
Yarn isn't a dep. Why are you including it, do you want to add it @Sunshine168?

[2018-01-24 13:20] Pickra commented on #79
Sure, put screenshot/vid in the issue. Having a screenshot/vid in a PR is a fast way to confirm behavior, caters to UXrs + helps contributor catch bugs before submitting.

[2018-01-24 13:25] Pickra commented on #79
We can hook up tests to run in a pre-push and/or on watch

[2018-01-24 16:25] TimoSta commented on #79
@Pickra Not sure if I misunderstand you, but yarn shouldn't require any special requirements.

It's really just a (mostly) equivalent replacement of npm. It pretty much does the same job, just usually more efficiently and in a deterministic fashion (through lock files).

I can only recommend the switch! :-)

[2018-01-24 16:51] equinusocio commented on #41
What about CSS Custom properties/mixins with postcss...

[2018-01-24 17:25] 15blex commented on #41
I guess there should be no problem, they seems to be quite supported.
See [https://caniuse.com/#feat=css-variables](url)

With custom props the themes may become very interactive and selectable at runtime.
See [https://codepen.io/chriscoyier/pen/ybgNKP](url)

What do you think @zouhir?

[2018-01-24 18:26] Milanzor opened #93 "Missing support for host"
Right now, there is no way to change what IP/host the HTTP server listens to.

I have Webpack + JARVIS running on a server in my network, but because there's no option to change what IP the JARVIS HTTP server listens to, it is inaccessible from devices in the network.

Reading the server.js and index.js in your src folder, it seems it can be achieved quite simply, so I tried to fork+pull request b

[2018-01-24 19:24] Milanzor commented on #93
Figured out the build script doesn't run on Ubuntu 16.04 (Node 8.9.3, NPM 5.5.1, I should probably update...) but I got it working on my MacBook.

Will send PR

[2018-01-24 19:28] Milanzor commented on #93
Added PR #94

[2018-01-24 21:40] zouhir commented on #41
since we are targeting developers (Jarvis is a dev tool) who are most likely on latest 2 releases of browsers, I think we can use whatever supported in latest 2 as long as it brings good value!

May I learn more about the benefit of that @equinusocio and @15blex ?

Also, if you want to agree on sometime to talk CSS in Jarvis and themeing, I have a little discord channel and happy to chat https://d

[2018-01-24 21:43] zouhir commented on #79
correct @TimoSta - If users are on yarn instead of npm things should work as usual for them no problems, as long as they don't commit their own lockfile to the repo :)

[2018-01-24 21:45] TimoSta commented on #41
Note that CSS variables are not supported in IE, which (unfortunately) is still fairly widely used at least in enterprise environments these days. Maybe worth considering.

[2018-01-24 21:49] equinusocio commented on #41
@TimoSta But jarvis is not for development. You can develop for IE and run jarvis on other browsers.

[2018-01-24 21:57] TimoSta commented on #41
That's absolutely correct. I'm saying is that I've been working with companies in the past that officially allow IE, and only IE, on their machines, including for their devs.

I don't know whether or not this is Jarvis' target audience and worth consideration. Just saying that we may want give it a thought.

[2018-01-24 22:03] equinusocio commented on #41
@zouhir WIth CSS custom properties, as said by @15blex, you can manipulate them runtime. You can get or set css custom properties that are applied.

[code]

You can define simple UI components that expose css custom properties that you can theming at the document root level or by js.

Just an example:

[code]

[code]

[2018-01-24 22:09] zouhir commented on #41
CSS variables might make our life easier when supporting themes, at the moment I am using Sass and CSS Modules and they might certainly minimize the code amount even for people who making themes.

Also, a big win in modern css: if we want to choose something like CSS Grid that will make the scale & number of widget shown in a monitor and the responsiveness of them a 100 times better I am happy to

[2018-01-24 22:25] equinusocio commented on #41
My point of view is that IE 11 will be fairly widely used until developers support it. Or we can just wait a Microsoft move that will close the already not supported ie 11.

Anyway, you can also just set the default theme on older browsers. 100% fallback compatibility.

[2018-01-24 22:30] zouhir commented on #41
I think I am sold on that, I do believe so many developers are using the latest and I hope by adding support to editors we not excluding people!

I have started a WIP PR here, https://github.com/zouhir/jarvis/issues/77 I am happy for either your feedback or ideas or give you push access or start new one if you have time, I am open if you would like to contribute with more ideas! no pressure tho!

[2018-01-25 00:52] Sunshine168 commented on #79
yap,  @TimoSta is correct ,yarn just a optional usage for users more efficiently and clearly  do the some job as npm . Seem that our gitignore is including the yarn file , so  dont worry about they commit their lock file .

[2018-01-25 01:37] Pickra commented on #79
Not opposed to it being in the contributor guide. My bad., apparently I've been yarning wrong this whole time.

Are there any other additions to the contributors guide/code of conduct or are we good w/what's here?

[2018-01-25 15:01] Sunshine168 commented on #79
ah , we can keep collecting  thoughts and make a first version of Contribute guide

[2018-01-26 02:12] Pickra commented on #79
Pull request templates - https://github.com/blog/2495-multiple-issue-and-pull-request-templates

[2018-01-26 16:52] hq229075284 opened #97 "how do i understand the value of connect type？"
![image](https://user-images.githubusercontent.com/14305358/35450458-13280bae-02fb-11e8-8cb5-3497c900979b.png)
You can see from the picture above.In 4G mode,what's mean that 171s and +166s?

[2018-01-28 21:12] zouhir commented on #97
Hey! Sorry for my delayed response.

Ultimately, your assets should load < 5s on your target audience connection type.

Your asset's in this photo will load under this budget for 20mbps connection only and you have 1s room.

I apologize as in this beta, things are not super clear but I'll definitely work on the UX and improve this section.

[2018-01-28 21:12] zouhir commented on #93
Merged!

[2018-01-28 21:12] #93 closed

[2018-01-28 21:13] zouhir commented on #91
Thank you! Sorry I've been super busy recently, I'll check out your CI tool today!

[2018-01-29 02:42] hq229075284 commented on #97
In other word,except for 20mbps,everything else is fake data？

[2018-01-29 03:20] zouhir commented on #97
No, it's connection speed data from webpagetest.org

Your bundle is huge :) or it's dev bundle, looking at `Global Average`

Connection Speed is: 0.4mpbs === 400kbps
RTT = 160ms

and your assets will take 182s to download on that speed (~3min)

[2018-01-29 17:12] TimoSta commented on #97
@zouhir I found the numbers on the dashboard a bit confusing as well, so I dug into it a little. It seems like [the way it is implemented right now ](https://github.com/zouhir/jarvis/blob/master/src/client/components/perf-budget/index.js#L21) messes up some units along the way:

    let time = assetsSize / 1024 / (i.internet_speed * 1024 / 8) + i.rtt;

, where `assetsSize` is the size of the bundl

[2018-01-29 18:23] Khachatour commented on #75
@Teskin any news ? :) Have you managed to run it ?

[2018-01-29 21:32] zouhir commented on #97
I swear I knew something didn't make sense in my quick and dirty calculations 😂 thank you for looking at this bit, your calculations are the correct ones, I welcome a PR!!!!

[2018-01-30 08:33] Teskin commented on #75
Thanks for asking, but nope.

I followed the steps described on #60 and changed the port, but it seems it doesn't help.

However, the error has a different nature.

![error 2](https://user-images.githubusercontent.com/20303536/35555748-7c089448-05a0-11e8-8108-f16b69ae6deb.PNG)

Am I missing some modules?

Thank you

[2018-01-31 04:57] hq229075284 commented on #97
I'm sorry to see the reply so late.I'm just as confused as @TimoSta  is.Pack a small file, but display it on the dashborad for such a long time.

The explanation given by @TimoSta is detailed and taught.

thank you @zouhir @TimoSta

[2018-01-31 16:06] TimoSta opened #104 "How to get a dev environment up and running"
I was trying to get a dev. environment for Jarvis up and running yesterday to submit a PR. Note that I haven't worked on Webpack plugins so far, so the points below may be totally idiotic.

However, I had some issues getting started, and maybe some other people are facing the same problems. Pointing them out in order to make getting started with contributing a little simpler for them. :ok_hand:

-

[2018-01-31 16:07] ugogo commented on #60
Any updates guys? 😢

[2018-01-31 16:34] cpannwitz commented on #87
Aside from that, there's also [React-App-Rewired](https://github.com/timarney/react-app-rewired), which might help you, adding Webpack and Babel things without ejecting.

[2018-02-01 04:35] Sunshine168 commented on #104
seem like #60  , waiting for Investigating
provider a quick way  fix in current workspace

if you change document.location.port to 1337 it will work

And i thought ```'C:\git\jarvis\'.\src\client\webpack.config.js''```  may bug in windows

About contributing, discussing in #79  ,  will be added soon

[2018-02-01 05:50] zouhir commented on #104
am going to push a PR for this ;) I added option to dev URL so you can get socket connected and running in your dev page: `localhost:3000/?force_socket_port=1337`

[2018-02-01 06:16] zouhir commented on #104
please check the readme now if it makes sense!

[2018-02-01 16:31] TimoSta commented on #104
Got it up and running, at least in dev. mode. Haven't tried doing a prod. build so far.

This issue still exists for me. Removing the quotes makes it work fine. Would that break it for other environments? Anyone got a Linux/OSX machine to test it on?

[2018-02-01 21:16] zouhir commented on #104
I have a fix for this going this morning!

[2018-02-01 21:52] #97 closed

[2018-02-02 00:12] zouhir commented on #104
should be fixed by #110

[2018-02-02 00:12] #104 closed

[2018-02-02 18:52] artificis commented on #87
I already have been using `react-app-rewired` for a while, and tried to use this with webpack config overridden, but hitting `localhost:1337` explodes.

[code]

[2018-02-05 21:24] Milanzor opened #114 "Theme building guidelines & process?"
The current CSS structure does not really support creating new themes.

Currently, in the `src/client/styles` folder, there is a `themes/default` folder. The files in there are always loaded and used as the theme. There is no way to make a new theme without either not loading the default theme or loading the default theme AND a new theme, having your own theme overrule the default css variables.

[2018-02-05 21:43] Milanzor opened #115 "Webpack structure"
The `webpack.config.js` file feels quite messy and has nearly no structure. I've been trying to get some additional stuff working, like being able to bundle fonts through Webpack, so `Open Sans` doesn't need to be loaded through Googles CDN  for example (people might be using JARVIS while working offline), see the index.html file.

I'm no expert, but I feel I can definitely clean up the config and

[2018-02-05 21:44] lukeed commented on #115
This was done in #112. @zouhir has needed some time off but will get things in order shortly~

[2018-02-05 21:46] Milanzor commented on #115
Ah awesome, had missed that. Interested in the new structure, I'll go have a look! :)

[2018-02-05 21:48] lukeed commented on #115
Yup yup! The entire JARVIS-dev experience as been reworked to be a lot simpler and smoother.

[2018-02-09 03:41] lacymorrow commented on #75
@Teskin can you run `which cross-env` and tell me the output?

If it doesn't return a path you should be able to run `npm install cross-env` to fix this.
If `cross-env` is installed then there likely _is_ an issue with node and npm, you may be seeing similar issues [to this](https://github.com/react-boilerplate/react-boilerplate/issues/493#issuecomment-224560555)  and need to remove node and npm,

[2018-02-09 04:42] lacymorrow commented on #75
Excellent, appreciate the update!

It may be worth it to add a short requirements section noting the Node 6 req :)

[2018-02-09 04:51] lukeed commented on #75
It's [here](https://github.com/zouhir/jarvis/blob/master/package.json#L17) which is technically the only place that really matters, haha. Having it here will make NPM kick & scream if you're not recent enough.

[2018-02-15 08:46] deadcoder0904 opened #117 "Use JARVIS conditionally for dev & prod"
Not sure if its a Webpack thing or JARVIS thing, but here it is.

Currently I'm using a environment variable `JARVIS` & to include it I use a boolean `true`

Complete example is https://github.com/deadcoder0904/webpack-exam

So my questions is -

Is there any way I can refactor the line https://github.com/deadcoder0904/webpack-exam/blob/master/package.json#L8 to not send `JARVIS=true` as environme

[2018-02-18 12:04] zouhir commented on #117
I understand your question, unfortunately the only way to handle that is in your config \ NODE_ENV.

Jarvis works like any other plugin and runs once it exists in the plugins array in your webpack config file and they way you have done it is actually the right way, I don't know of any better idea but here are what we can do:

1- instead of passing `JARVIS=true` you can rely if `--watch` exist or n

[2018-02-18 12:08] deadcoder0904 commented on #117
Cool I thought there would be a better way though 😂

[2018-02-19 13:32] Jack89ita opened #119 "Support for MultiCompilers"
Hi! As the title says i would like to know if this plugin supports the multicompilers mode of webpack;
I have multiple entries but i can make this plugin works only for one.
Anyone can help me?
Thanks

[2018-02-20 14:32] jimblue opened #120 "Jarvis server not working on build"
Hi!

I'm using Jarvis with `webpack 3.11`.
It's perfectly working on dev but not on prod.

I get the follow Jarvis console message in both environment: `[JARVIS] Starting dashboard on: http://localhost:3003`

I'm able to navigate to this url on dev environment but in prod I get the following message in browser:

<img width="320" alt="screen shot 2018-02-20 at 15 31 26" src="https://user-images.git

[2018-02-20 14:40] lukeed commented on #120
Hey! The server shuts down once the build had been completed/terminated. For production builds, this means that JARVIS is only visible and accessible for the 8-xx seconds that it takes for webpack to build.

[2018-02-20 14:49] jimblue commented on #120
Hello!
Thanks for your fast answer!!
Do you think it's possible to change this behaviour?
IMO it make sens to take time to see the build report from Jarvis to optimise next build.

[2018-02-20 14:53] jimblue opened #121 "[feature request] add more options"
Hi!

I really like Jarvis design and feedback it gives but I miss some options:

- option to open Jarvis webserver on first build (on - off)
- option to choose the amount of log in console (full - light - none)

What do you think about it?

[2018-02-20 14:59] lukeed commented on #120
lol no problem, it could be done. It'd have to be behind a option/flag since this (probably) isn't generally wanted.

[2018-02-20 15:07] jimblue commented on #120
Behind an option to toggle this behaviour would be ideal 👍 !

[2018-02-22 19:00] stephencookdev commented on #60
This can be closed, right? Looks like this has been fixed by https://github.com/zouhir/jarvis/commit/e972f4446017812333e3eb143a69a47c9ee8d1b0 and https://github.com/zouhir/jarvis/commit/aa32fd9ea0509278df88ff2a16a61c9a18c69691 (same as https://github.com/zouhir/jarvis/issues/104)

Just running `npm run watch` seems to work fine, now

[2018-02-22 19:19] lukeed commented on #60
Yes, #112 completely changed & simplified the development process. It's now all under a single server~!

[2018-02-22 19:19] #60 closed

[2018-02-22 19:24] ugogo commented on #60
Yep, I confirmed that everything works now, thx guys

[2018-02-22 19:35] stephencookdev commented on #120
Raised a PR for this, if you wanna check out if that solves what you're trying to do?

[2018-02-22 20:12] stephencookdev commented on #119
I imagine this one would require a bit of discussion before implementing. Namely, what would the expected behaviour be when running in multicompiler mode?

Should Jarvis show multiple tabs in its display, each tab showing the output from each compiler?

Or should Jarvis try and average out all of the data for each compiler, as if it's just running through 1 compiler?

For now, as a workaround, if

[2018-02-22 20:19] jimblue commented on #121
Thanks to @stephencookdev there is already a working `PR` #122 to keep alive Jarvis webserver on build!

Half resolved!!

[2018-02-22 20:20] jimblue commented on #120
#122 if perfectly working! Thank you @stephencookdev !

[2018-02-22 20:21] stephencookdev commented on #117
@zouhir might it make sense to only run Jarvis in watch mode by default? i.e. by booting it up in `compiler.plugin("watch-run", ...)`, rather than where it sits atm in the root `apply`?

Maybe worth considering with me https://github.com/zouhir/jarvis/pull/122 to make the option be something like `options.onlyRunInWatchMode` (awful name, but you get my point) which defaults to `true`? And then whe

[2018-02-22 20:25] stephencookdev opened #123 "`lib` directory is in the .gitignore"
Currently the `lib` directory is marked in the `.gitignore` folder

It looks like because the `lib` directory is being used as the dist folder by the webpack config in Jarvis atm

Unfortunately IDEs like Atom try to be clever, and don't bother showing you files/folders that are in the .gitignore - meaning that any Atom users (not sure how many other IDEs do this, I wouldn't be surprised if it's a

[2018-02-22 20:35] stephencookdev commented on #123
Raised https://github.com/zouhir/jarvis/pull/124 as a possible fix for this - but unsure of the original reason for this decision? Hopefully I'm not missing something that this would break

[2018-02-22 20:48] lukeed commented on #123
You don't typically add built files into version control. It makes things really noisy, especially in regards to PR reviews.

You can easily configure your Atom to change that behavior -- all IDEs allow it: https://discuss.atom.io/t/gitignored-files-are-hidden-from-tree-view-regardless-of-setting/8724

[2018-02-22 20:50] stephencookdev commented on #123
Yes, but as I mention - the lib folder seems to be containing both src and build files

I'm not suggesting to start version controlling the build files, of course :)

Instead, I'm suggesting to split the lib folder into `lib` and `dist`, `lib` being pure src, and `dist` being pure built files

If that makes sense?

[2018-02-22 20:56] stephencookdev commented on #117
I've raised https://github.com/zouhir/jarvis/pull/125 as a possible example of what I mean. Hopefully something like this could solve both this issue, and https://github.com/zouhir/jarvis/pull/122?

[2018-02-22 23:44] sergeysova opened #126 "Crash when open jarvis url"
In repo https://github.com/sergeysova/InstaClone/tree/feature/jarvis

Run webpack-dev-server with npm script `dev:webpack` or `npx webpack --watch`.

Next I see:

![image](https://user-images.githubusercontent.com/5620073/36570451-2a9d1272-1843-11e8-96db-8299ab182d26.png)

But if I try to open http://localhost:3005, jarvis crashes:

![image](https://user-images.githubusercontent.com/5620073/365704

[2018-02-24 01:26] edmorley commented on #126
I was seeing this too (node 8.9.4, webpack 2.7.0, webpack-dev-server 2.11.1) - looks like it's a regression with serve-static 1.13.2, that's fixed by forcing 1.13.1 to be used, eg via the yarn [selective resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) feature:
[code]
Changelog:
https://github.com/expressjs/serve-static/compare/v1.13.1...v1.13.2

[2018-02-26 10:29] zouhir commented on #120
I just merged #122 !

[2018-02-26 10:29] #120 closed

[2018-02-26 10:31] #41 closed

[2018-02-26 10:31] #70 closed

[2018-02-26 10:35] zouhir commented on #121
I actually think the console log option would be a great idea, there's already a PR with an option to run webpack watchOnly which might cover what you want by the 1st point?

[2018-02-26 10:38] zouhir commented on #115
This was merged a while ago! <3

[2018-02-26 10:38] #115 closed

[2018-02-26 10:51] zouhir commented on #126
Hi there, I just cloned your project & checked it, it seems OK on my end!
<img width="1353" alt="screen shot 2018-02-26 at 21 49 42" src="https://user-images.githubusercontent.com/5052316/36666556-26dd7d3a-1b3f-11e8-8bd9-d7d4fa449cfb.png">

[2018-02-26 11:00] equinusocio commented on #41
@zouhir Sorry i totally missed the last message. I will check the PR

[2018-02-26 11:02] equinusocio commented on #77
Is this related to the custom properties switch?

[2018-02-26 11:05] jimblue commented on #121
I agree the PR #122 cover my first point! :)

[2018-02-26 11:55] sergeysova commented on #126
@zouhir what's your OS and Nodejs version?

[2018-02-26 12:05] consense commented on #126
Same problem (next is not a function) occurring for me as well. Both with "serve-static": "1.13.1" as well as "serve-static": "1.13.2").
OS: Windows10, nodejs: 9.6.1

[2018-02-26 21:15] zouhir commented on #126
Thanks to both of you for reporting this issue!

What is happening, serve static isn't able to find the dist folder where I have Jarvis page & assets.

I'll investigate closely...

[2018-02-26 21:33] stephencookdev commented on #123
Resolved with https://github.com/zouhir/jarvis/pull/124

[2018-02-26 21:33] #123 closed

[2018-02-27 10:30] Jack89ita commented on #119
For my personal use it should be good to open 2 instances on different ports, but when i try to do it as you suggest the second one ovveride the first one.
This is what i'm trying to do:
[code]
But only port 1338 works.
Any suggest?

[2018-02-27 11:44] FDiskas opened #127 "Uncaught (in promise) TypeError: Cannot read property 'length' of undefined"
![error](https://i.imgur.com/jNSso78.png)
not sure why. Tested on production build
[code]
webpack-jarvis@0.3.0

[2018-02-27 22:19] stephencookdev commented on #119
Just double checked, doing 2 server works for me.

Are you sure you're not just having issues with the `plugins` config in general (e.g. if you keep everything as it is now, but remove the `pluginsCSS.push(new Jarvis({ port: 1338 }))`, does the 1337 server still work?

And when you say 1337 isn't working... what are you seeing exactly? Console errors in the terminal? Console errors in the dashboar

[2018-02-28 09:02] Jack89ita commented on #119
Yes, with only one instance of the plugin everything is working fine.
When i use both ports, in port 1338 all is working, but in port 1337 it seems to not even open the connection, in fact the browser can't reach that port.

[2018-02-28 09:08] stephencookdev commented on #119
Is it possible for you to share your whole webpack config? (or a subset of it which still exhibits the same issue)

[2018-02-28 09:14] Jack89ita commented on #119
Sure, i can share a small subset, hope it will be useful:
[code]
plugins and pluginsCSS are arrays where i store various plugin as Jarvis.

[2018-02-28 09:20] stephencookdev commented on #119
But how are the `plugins` and `pluginsCSS` variables instantiated and populated?
It'd be great if you could include a webpack config that we can drag&drop into our workspace, so we can run it locally and reproduce the issue

[2018-02-28 09:27] Jack89ita commented on #119
I edited the aswer to show you the declarations on the variables e how are populated.
If you still need the webpack config i can send it to you if you explain me how.
Thanks

[2018-03-06 05:19] zouhir commented on #127
Hey! your build seem to be only 79% complete -- does it stope here or continue to 100%?

I am investigating this, thank you for reporting!

[2018-03-15 14:07] CHBaker commented on #76
I don't really know sass, but I'd love to contribute (I can learn it). I can take this issue.

[2018-03-15 16:34] dmbaranov commented on #126
Same problem for me.

Node: 8.9.4
webpack: 3.11.0
serve-static: first didn't install manually, also tried with 1.13.2

[2018-03-16 08:26] stephencookdev commented on #117
I believe that with 0.3.0 Jarvis should behave as described here

Unless the `watchOnly` option is set to false, then Jarvis won't run when just running a non-watching build

So this ticket should be fine to close?

[2018-03-16 08:38] kurtextrem opened #129 "Use uWS in Socket.io?"
See this issue on why: https://github.com/socketio/engine.io/issues/388
And here how: https://github.com/socketio/engine.io#methods

[2018-03-16 17:24] lukeed commented on #129
We technically could, but the performance aspect doesn't matter at all in JARVIS. Memory efficiency would be the only benefit.

Personally I'd probably swap to `ws` for this project since it's a little lighter on the install (no binary) and there's still a lot of performance improvement.

That said, we'd need to add a websocket listener on the client, which Sockette could do.

All in all, this is

[2018-03-20 02:34] zouhir commented on #117
yep! can be closed!

[2018-03-20 02:34] #117 closed

[2018-03-20 02:35] #75 closed

[2018-03-20 02:35] #79 closed

[2018-03-20 03:14] zouhir commented on #126
hey everyone,

I've only been able to see this if the node server did not find the client `index.html` in `dist` folder.

This issue seems to happen with only few people, can you please validate if:

1- You can see dist and index.html in your `node_modules`
2- rm -rf node_modules and get a fresh version from npm?

[2018-03-20 03:16] #91 closed

[2018-03-20 03:18] zouhir commented on #121
we will consider working on some neat features for the console, not totally sure yet about how much we can do there or what it might look like!

[2018-03-20 03:18] #121 closed

[2018-03-20 03:19] zouhir commented on #41
great article @equinusocio ! that totally make sense and thank you for sharing!

[2018-03-20 09:03] dmbaranov commented on #126
@zouhir

dist folder, I assume? Build time of my project is about 1 minute, but Jarvis is started right after `npm start`. Could it be due to there is no index.html in dist folder at that moment?

[2018-03-20 12:17] zouhir commented on #126
please check now, v0.3.1 is released!

[2018-03-20 13:16] Awea commented on #126
@zouhir It works now :) Thanks !

[2018-03-20 22:38] zouhir commented on #126
woohoo!!!!! I look forward to taking Jarvis out of beta ASAP! sorry for being a bit of a problem!

[2018-03-20 22:38] #126 closed

[2018-03-20 22:40] zouhir commented on #129
I totally don't like socket.io but I can't prioritise swapping it now as we still in beta and am really rethinking so many things

[2018-03-29 11:11] azulkipli opened #132 "How to use it with preact-cli preact.config.js ?"
In preact.config.js I already have
[code]

Thanks

[2018-03-29 11:57] Izhaki opened #133 "Warning: Unmet peer dependency."
When installing jarvis (using yarn) you get the following errors:

[code]

Now these aren't peer dependencies of jarvis alright, but I believe that if the packages used by jarvis have peer dependencies it's jarvis' responsibility to include them?

[2018-03-29 17:46] lukeed commented on #132
Hey, you can modify the `config` first before passing it into `criticalCssPlugin`:

[code]

[2018-04-06 05:44] jakeFeldman opened #134 "DeprecationWarnings: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
I'm getting `Tapable.plugin` is deprecated and `Tapable.apply` is deprecated warnings when using `webpack-jarvis` with the following:
* Node v9.7.1
* Webpack v4.5.0
* Jarvis v0.3.2

## Error Message & Stack Trace
[code]

[code]
Is there a plan to upgrade to webpack v4's API, and removing the deprecation warnings?

[2018-04-10 01:54] jimblue commented on #120
Hi @zouhir !

This is working great on the merge branch but it's not on npm actual release.

Any plan to push this to npm?

Thank you

[2018-04-17 22:09] MorrisSimons opened #135 "isn't it better to try to build a voice comand your JARVIS"
https://www.smashingmagazine.com/2017/05/build-action-google-home-api-ai/
https://ifttt.com/discover

[2018-05-29 02:18] allen2dev opened #136 "Uncaught TypeError: Super expression must either be null or a function, not undefined"
is there a bug?
    const { color, title, status, note, progress } = props; // src/client/components/mini-card/index.js

[2018-06-08 09:12] jimblue opened #138 "Still maintain?"
Hi @zouhir !

First thanks for this very nice piece of code.

The repo is kind of inactive for a moment so I just would like to know if you plan to maintain it or not?

I would like to use it in a lib just want to be sure 😄

Cheers

[2018-06-21 14:01] yaodingyd commented on #138
Last commit is a bit more than 3 month ago and already comment like this...not every OSS project has daily commit

[2018-06-22 18:55] reznord commented on #138
Yes, you can use this in your lib. We will be maintaining this project :)

[2018-06-22 22:03] zouhir commented on #138
Hi there, I am planning to maintain & upgrade this to webpack4, however, I am busy in my new job.

Thanks for your patience :D

[2018-06-23 00:48] jimblue commented on #138
Great news!

Thanks for the feedback and good luck with your new job!

Cheers

[2018-06-23 22:02] #138 closed, assigned to nobody

[2018-07-24 08:12] alexis-regnaud opened #139 "Jarvis in Vagrant"
Hi,

I try to install Jarvis for a project in my vagrant but without success...

I add the package corretly, I configure my webpack.config and my VagrantFile, but in return I have the message : " This page does not work " on http://localhost:1337/

Next it's my webpack configuration :

[code]

And it's my VagrantFile with the forwared port :

[code]

Thank you in advance !!

[2018-07-30 06:28] Alxandr opened #140 "Allow passing in custom logger"
Jarvis is currently the only thing running as part of my "dev" script that outputs logs (although only one line) that is not coherent with the rest. It would be great if I could pass in some sort of log instance/protocol/function to the plugin instead of having it just write to the console.

[2018-08-03 21:35] giggio opened #141 "Run once with existing json and produce local output"
I have an existing stat.json from webpack. Can this tool process the file and output assets I can use to show the report? I intend to run this as a build step.

[2018-10-18 09:51] ghost opened #142 "User Jarvis with Angualr-Cli"
Is there a way to add Jarvis to Angualr-Cli ?

This is related to https://github.com/zouhir/jarvis/issues/87

[2019-01-07 07:47] 0x73706f6f6b commented on #134
Doesn't look like this has been solved ... gone with the wind it goes.

_hopefully an update will happen soon?_

[2019-04-16 00:54] airtonix opened #144 "static output"
As a CI Server I want to run Jarvis once
then save the report to disk
so that another process can serve the report with a standard webserver

- deploy to netlify
- save storybook to `/build/storybook` -> http://[hash]-[user].netlify.com/build/storybook
- save jarvis to `/build/jarvis` -> http://[hash]-[user].netlify.com/build/jarvis

[2019-09-27 15:24] sadeghbarati opened #145 "address already in use"
I use two server

`webpack-dev-server` for livereload

and `jarvis-webpack` for that dashboard browser

and I got this error:
**`Error: listen EADDRINUSE: address already in use 0.0.0.0:1376`**

[2019-09-30 08:52] #145 closed, assigned to nobody

[2019-12-12 12:19] clytras opened #146 "Dead project?"
This project seems dead. Are there any alternative webpack dashboards under active maintenance?

[2019-12-21 15:00] Sparklytical opened #147 "Any update?"
Can you just remove 2 errors?
Tapable.plugin use hook directly
tabaple call plugin directly.
or guide me a bit, i will fix it.

[2020-04-07 00:15] cmgonzales commented on #76
is this issue still open?

[2020-05-07 14:47] ForsakenHarmony commented on #76
zouhir rather busy nowadays I suppose

[2020-05-09 18:06] shangfeiSF commented on #147
// report the webpack compiler progress
    // compiler.apply(
      new webpack.ProgressPlugin((percentage, message) => {
        this.reports.progress = { percentage, message };
        if (this.env.running) {
          jarvis.io.emit("progress", { percentage, message });
        }
      }).apply(compiler);
    // )

[2020-05-09 18:06] shangfeiSF commented on #147
// extract the final reports from the stats!
    compiler.hooks.done.tap("done", stats => {

[2020-05-09 18:06] shangfeiSF commented on #147
compiler.hooks.run.tapAsync("run", (c, done) => {

[2020-05-09 18:06] shangfeiSF commented on #147
compiler.hooks.watchRun.tapAsync("watch-run", (c, done) => {

[2020-05-09 18:09] shangfeiSF commented on #147
You can use npm scripts to fix these code by yourself when you using.
Or I will fix the 2 errors finally.

[2020-06-27 03:52] jakeFeldman commented on #134
This seems abandoned. Going to close

[2020-06-27 03:52] #134 closed, assigned to nobody

[2020-07-28 19:01] c-z-chen opened #148 "Do not know how to install"
**Sorry I am so noob on this**, but I don't know what to do after a few steps, I:
- `mkdir Jarvis && cd Jarv*`
- `npm i -D webpack-jarvis`

And then, according to the tutorial, one must add these code below to a 'webpack config' file:

[code]

I have no idea at all what that is & have no idea at all where that is, however, I found a 'webpack.js' file in this GitHub repo, [link](https://github.com/

[2020-08-06 01:12] ForsakenHarmony commented on #148
Sorry, this is kinda unmaintained, probably not compatible with the latest webpack version

https://webpack.js.org/concepts/plugins/#configuration
Here's what a more complete config looks like, but configuring webpack in general is not super trivial, especially with something like a full react project, and something you'd probably want to avoid if you're just getting started with js/ts

Here's an

[2020-08-06 11:50] c-z-chen commented on #148
**Cheers for ur reply!**
(I literally just looked into tinacms a few minutes before your response lol)

[2020-08-06 11:50] #148 closed, assigned to nobody

[2020-08-06 13:12] ForsakenHarmony commented on #148
I know, looked at something you might have worked on that uses webpack in some way 🙈

[2021-01-06 09:14] luesoad opened #149 "Webpack 5; TypeError: compiler.plugin is not a function"
After updating to Webpack 5, I get
"TypeError: compiler.plugin is not a function at Jarvis.apply (node_modules/webpack-jarvis/dist/server/index.js:103:14).

Has anyone else experienced this?

[2021-01-18 13:20] pratapdd commented on #149
facing the same error as @luesoad

[2021-01-18 13:21] pratapdd commented on #149
@luesoad  did you find any solution?

[2021-02-06 12:48] blackangel15741 opened #150 "Thermostat SetTemperature fehlerhafte Anzeige"
Hallo...

Wenn im setTemperature Anzeigevariante z.B.
"12":"lüften","17":"17.0","17.5":"17.5","18":"18.0" vorgegeben wird, erfolgt eine Anzeige der Werte, in einer falschen Reihenfolge (DropdownAction).Es werden dann zuerst volle Temperaturwerte angezeigt 17.0, 18.0, 19.0, 20.0..... und dann erst die Werte 17.5, 18.5, 19.5, 20.5....
Wie kann eine beliebige Anzeige der Werte erfolgen bzw in einer s

[2021-02-24 23:36] ForsakenHarmony commented on #150
You seem to have come to the wrong place

[2021-02-24 23:36] #150 closed, assigned to nobody

[2021-10-12 02:25] DoryDM opened #151 ".."

[2021-10-18 03:24] #151 closed, assigned to nobody

[2022-02-17 11:19] #133 closed, assigned to nobody

[2022-09-19 09:04] GArosy commented on #149
+1